/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 03/06/2014, 12:02:28
    Author     : diego
*/

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

.page {
    width: 21cm;
    height: 26cm;
    padding: 20px;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
}

.subpage {
    /*border: 1px red solid;*/
    height: 268mm;
    width: 100%;
    display: block;
}

.formulario {
    padding: 0px;
    /*border: 1px solid blue;*/
    width: 776px;
}

.cabecalho {
    /*padding-top: 24mm;*/
    width: 100%;
    height: 24mm;
    /*height: auto;*/
    /*border: 1px solid yellow;*/
    /*position: relative;*/
    /*display: inherit;*/
}

.corpo {
    /*padding-top: 24mm;*/
    width: 100%;
    height: auto;
    /*border: 1px solid blue;*/
    /*position: relative;*/
    display: inline-table;
}

input {
    border: 1px solid black;
}


/*@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}*/